<a href="https://colab.research.google.com/github/a6ishek/Ipynb_Files_ML-DL/blob/main/covid_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px ##plot the data on the worldmap

In [ ]:
data = pd.read_csv("/content/covid_19_clean_complete.csv")

In [ ]:
data.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0,0,Africa

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38889 entries, 0 to 38888
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  11622 non-null  object
 1   Country/Region  38889 non-null  object
 2   Lat             38889 non-null  float64
 3   Long            38889 non-null  float64
 4   Date            38889 non-null  object
 5   Confirmed       38889 non-null  int64
 6   Deaths          38889 non-null  int64
 7   Recovered       38889 non-null  int64
 8   Active          38889 non-null  int64
 9   WHO Region      38889 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.0+ MB

In [ ]:
data.drop(['Province/State'],axis=1,inplace=True);

In [ ]:
data.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.1533,20.1683,2020-01-22,0,0,0,0,Europe
2,Algeria,28.0339,1.6596,2020-01-22,0,0,0,0,Africa
3,Andorra,42.5063,1.5218,2020-01-22,0,0,0,0,Europe
4,Angola,-11.2027,17.8739,2020-01-22,0,0,0,0,Africa

In [ ]:
data = pd.read_csv("/content/covid_19_clean_complete.csv",parse_dates=['Date'])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38889 entries, 0 to 38888
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  11622 non-null  object
 1   Country/Region  38889 non-null  object
 2   Lat             38889 non-null  float64
 3   Long            38889 non-null  float64
 4   Date            38889 non-null  datetime64[ns]
 5   Confirmed       38889 non-null  int64
 6   Deaths          38889 non-null  int64
 7   Recovered       38889 non-null  int64
 8   Active          38889 non-null  int64
 9   WHO Region      38889 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 3.0+ MB

In [ ]:
data.drop(['Province/State'],axis=1,inplace=True);

In [ ]:
data.head()

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.1533,20.1683,2020-01-22,0,0,0,0,Europe
2,Algeria,28.0339,1.6596,2020-01-22,0,0,0,0,Africa
3,Andorra,42.5063,1.5218,2020-01-22,0,0,0,0,Europe
4,Angola,-11.2027,17.8739,2020-01-22,0,0,0,0,Africa

In [ ]:
data.rename(columns={"Country/Region":"Country"},inplace=True)
data.head()

,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.1533,20.1683,2020-01-22,0,0,0,0,Europe
2,Algeria,28.0339,1.6596,2020-01-22,0,0,0,0,Africa
3,Andorra,42.5063,1.5218,2020-01-22,0,0,0,0,Europe
4,Angola,-11.2027,17.8739,2020-01-22,0,0,0,0,Africa

In [ ]:
data.tail()

,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
38884,Sao Tome and Principe,0.186360,6.613081,2020-06-18,688,12,191,485,Africa
38885,Yemen,15.552727,48.516388,2020-06-18,909,248,273,388,Eastern Mediterranean
38886,Comoros,-11.645500,43.333300,2020-06-18,210,5,129,76,Africa
38887,Tajikistan,38.861034,71.276093,2020-06-18,5279,51,3762,1466,Europe
38888,Lesotho,-29.609988,28.233608,2020-06-18,4,0,2,2,Africa

In [ ]:
##Print the cases of the latest date
top = data[data['Date']==data['Date'].max()]

In [ ]:
top.head()

,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
38628,Afghanistan,33.0000,65.0000,2020-06-18,27532,546,7660,19326,Eastern Mediterranean
38629,Albania,41.1533,20.1683,2020-06-18,1788,39,1086,663,Europe
38630,Algeria,28.0339,1.6596,2020-06-18,11385,811,8078,2496,Africa
38631,Andorra,42.5063,1.5218,2020-06-18,855,52,792,11,Europe
38632,Angola,-11.2027,17.8739,2020-06-18,166,8,64,94,Africa

In [ ]:
top[top['Country']=="China"]

,Country,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
38676,China,31.8257,117.2264,2020-06-18,991,6,985,0,Western Pacific
38677,China,40.1824,116.4142,2020-06-18,777,9,584,184,Western Pacific
38678,China,30.0572,107.8740,2020-06-18,582,6,573,3,Western Pacific
38679,China,26.0789,117.9874,2020-06-18,362,1,357,4,Western Pacific
38680,China,37.8099,101.0583,2020-06-18,151,2,137,12,Western Pacific
38681,China,23.3417,113.4244,2020-06-18,1631,8,1604,19,Western Pacific
38682,China,23.8298,108.7881,2020-06-18,254,2,252,0,Western Pacific
38683,China,26.8154,106.8748,2020-06-18,147,2,145,0,Western Pacific
38684,China,19.1959,109.7453,2020-06-18,171,6,163,2,Western Pacific
38685,China,39.5490,116.1306,2020-06-18,340,6,322,12,Western Pacific
38686,China,47.8620,127.7615,2020-06-18,947,13,934,0,Western Pacific
38687,China,33.8820,113.6140,2020-06-18,1276,22,1254,0,Western Pacific
38688,China,22.3000,114.2000,2020-06-18,1124,4,1072,48,Western Pacific
38689,China,30.9756,112.2707,2020-06-18,68135,4512,63623,0,Western Pacific
38690,China,27.6104,111.7088,2020-06-18,1019,4,1015,0,Western Pacific
38691,China,44.0935,113.9448,2020-06-18,238,1,234,3,Western Pacific
38692,China,32.9711,119.4550,2020-06-18,653,0,653,0,Western Pacific
38693,China,27.6140,115.7221,2020-06-18,932,1,931,0,Western Pacific
38694,China,43.6661,126.1923,2020-06-18,155,2,153,0,Western Pacific
38695,China,41.2956,122.6085,2020-06-18,153,2,147,4,Western Pacific
38696,China,22.1667,113.5500,2020-06-18,45,0,45,0,Western Pacific
38697,China,37.2692,106.1655,2020-06-18,75,0,75,0,Western Pacific
38698,China,35.7452,95.9956,2020-06-18,18,0,18,0,Western Pacific
38699,China,35.1917,108.8701,2020-06-18,314,3,306,5,Western Pacific
38700,China,36.3427,118.1498,2020-06-18,792,7,783,2,Western Pacific
38701,China,31.2020,121.4491,2020-06-18,697,7,668,22,Western Pacific
38702,China,37.5777,112.2922,2020-06-18,198,0,198,0,Western Pacific
38703,China,30.6171,102.7103,2020-06-18,589,3,569,17,Western Pacific
38704,China,39.3054,117.3230,2020-06-18,197,3,191,3,Western Pacific
38705,China,31.6927,88.0924,2020-06-18,1,0,1,0,Western Pacific
38706,China,41.1129,85.2401,2020-06-18,76,3,73,0,Western Pacific
38707,China,24.9740,101.4870,2020-06-18,185,2,183,0,Western Pacific
38708,China,29.1832,120.0934,2020-06-18,1269,1,1267,1,Western Pacific

In [ ]:
world=top.groupby('Country')["Confirmed","Deaths","Recovered","Active"].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
world.head()

             Confirmed  Deaths  Recovered  Active
Country
Afghanistan      27532     546       7660   19326
Albania           1788      39       1086     663
Algeria          11385     811       8078    2496
Andorra            855      52        792      11
Angola             166       8         64      94

In [ ]:
world.reset_index(inplace=True)
world.head()

       Country  Confirmed  Deaths  Recovered  Active
0  Afghanistan      27532     546       7660   19326
1      Albania       1788      39       1086     663
2      Algeria      11385     811       8078    2496
3      Andorra        855      52        792      11
4       Angola        166       8         64      94

In [ ]:
##Plot data on worldmap
world_map=px.choropleth(world,locations='Country',
                        locationmode='country names',
                        color_continuous_scale='Peach',
                        color='Active',
                        title="Countries with Active Cases",range_color=[1,200000])

In [ ]:
world_map.show()
plt.savefig('map.jpg')